.container-capa {
    height: 30vh;
}

.quartos-img{
    width: 30%;
    padding-bottom: 10px;
}

ul {
    display: flex; /* "aproxima os marcadores da lista */
    justify-content: space-between;
    flex-wrap: wrap;  /* quebra a lista */
}

li {
    width: 25%; /* largura que os itens da lista ocupam */
    text-align: left;
    margin-top: 10px;
}



.container-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rodape-info {
    width: 21%;
    display: flex;
    align-items: center;
}

.link-rodape {
    margin-right: 10px;
}

.copyright {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #3b7863;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 22px;
    }

    .link-topo {
        font-size: 17px;
    }

    .container-rodape {
        font-size: 16px;
        margin-left: -13rem;
    }

    .rodape-info h4 {
        font-size: 19px;
        padding-top: 10px;
    }

    .rodape-info {
        padding-top: 40px;
    }

    .rodape-info p {
        font-size: 15px;
    }

    .copyright {
        margin-left: 13rem;
        font-size: 15px;
    }
}